

footer{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

footer div{
align-self: center;
margin-left: 580px;
}
footer div a{
margin-right: 20px;
color: #111;
font-family: 'Mulish', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.346px;
text-decoration: none;
}