
$primary-color: white;

body {
  background-color: $primary-color;
}

@import 'header';
@import 'footer';


//Index page----------------------------------------------------------------------------


.index_lightgray_text{
    grid-column: 1; 
    grid-row: 3;
    text-align: left;
    margin-top: 235px;
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
 
}

.index_right_content{
    margin-top: 35px;
}
.index_h4{
    margin-left: 138px;
    margin-top: 50px;
    color: #4A4FF2;
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.423px;
}
.grid-container{
    display: flex;
    margin-left: 170px;
    margin-right: 150px;
    margin-top: 200px;
}

.first_column img,
.second_column img,
.third_column img{
    width: 95%; 
    height: auto; 
    margin-bottom: 20px;
}

.index_upper_content{
    display: flex;
    justify-content: space-around;
    margin-left: -120px;
}
.under_img_txt{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.index_h3{
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; /* 135.714% */
    width: 635px;
    height: 106px;
}
.mid_txt{
margin-left: -50px;
}
.txt_lightgray{
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
}
.border_gray{
    border: 1px solid #D8D8D8;
    margin: 20px auto; 
    width: 1180px;
}
.index_bottom_section1{
    display: flex;
    justify-content: space-evenly;
}

.part_1{
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 200px;
}
.part_2{
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.part_3{
    display: flex;
    flex-direction: column;
}
.part_3a,
.part_3c{
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.part_3b,
.part_3d{
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    opacity: 0.6;
    width: 190px;
}
.part_4{
    color: #111;
    text-align: right;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.part_4 p:nth-child(2),
.part_2 p:nth-child(2){
    margin-top: 140px;
}

//Contact page--------------------------------------------------------------------

.upper_content{
    display: flex;
    justify-content: space-around;
    margin-left: -30px;
}

.form_input{
    display: flex;
    width: 475px;
    flex-direction: column;
    margin-bottom: -4px;
}
textarea{
    text-decoration: none;
    border: none;
    resize: none;
}
.form_submit{
    background: #4A4FF2;
    width: 125px;
    height: 50px;
    flex-shrink: 0;
    color: #FFF;
    display: flex;
    justify-content: center;
}
.form_submit input{
    background: #4A4FF2;
    color: white;
}
form input{

    border: none;
    color:black;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
}
.contact_title{
    width: 445px;
    height: 174px;
    flex-shrink: 0;
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 137.5% */
    color:black;
}
.left_content p{
    width: 380px;
    height: 56px;
    flex-shrink: 0;
    color: #111;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    opacity: 0.8;
}
.right_content{
    margin-top: 50px;
}
.img_map{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 110px;
}
.border_line{
    border: 1px solid #979797;
    opacity: 0.3;
    background: #D8D8D8;
    width: 475px;
    height: 1px;
    margin-bottom: 30px;
}
form label{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
}

//Projects page-------------------------------------------------------------------------------

.project_upper_content{
    display: flex;
    justify-content: space-around;
}

.project_right_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.lightgray_text p{
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.5;
}
.black_text{
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.project_right_content div {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.img_walking{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 110px;
}
.bottom_text{
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    opacity: 0.8;
    width: 1009px;
    height: 93px;
}
.flex_text{
    display: flex;
    justify-content: center;
    margin-top: -60px;
}
.img_map img {
    margin-left: 20px;
    margin-top: -60px;
}
.Project_left_content p{
    width: 635px;
 
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    opacity: 0.8;
}


